<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496929469975-hsc4clmgtdadlhltq0frqiudlsih1et6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496929469975-hsc4clmgtdadlhltq0frqiudlsih1et6</string>
	<key>API_KEY</key>
	<string>AIzaSyDMTX11EJRihoJuYGb7Hjr_SK2LWIfGkQE</string>
	<key>GCM_SENDER_ID</key>
	<string>496929469975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csc234ProjectCheese</string>
	<key>PROJECT_ID</key>
	<string>csc234-project-cheese</string>
	<key>STORAGE_BUCKET</key>
	<string>csc234-project-cheese.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496929469975:ios:fb620164906a9214a94e52</string>
</dict>
</plist>